<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform>
      <config>
        <pythonPath>D:\home\python364x64\python.exe</pythonPath>
      </config>
      <processPath>D:\home\python364x64\python.exe</processPath>
      <arguments>-m uvicorn server:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%</arguments>
      <startupTimeLimit seconds="60"/>
      <processesPerApplication>16</processesPerApplication>
      <recycleOnFileChange>true</recycleOnFileChange>
      <rapidFailsPerMinute>5</rapidFailsPerMinute>
      <requestTimeout>00:02:00</requestTimeout>
      <stdoutLogEnabled>true</stdoutLogEnabled>
      <stdoutLogFile>\\?\%home%\LogFiles\python.log</stdoutLogFile>
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>